name: Trigger auto deployment for dev-bs-worker

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ dev ]
    paths:
    - '**'
    - '.github/workflows/dev-bs-worker-AutoDeployTrigger-3245dcf4-8092-4e96-a964-b177d7e0f22c.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.DEVBSWORKER_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          registryUrl: devbscontregistry.azurecr.io
          registryUsername: ${{ secrets.DEVBSWORKER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.DEVBSWORKER_REGISTRY_PASSWORD }}
          containerAppName: dev-bs-worker
          resourceGroup: DevOps
          imageToBuild: devbscontregistry.azurecr.io/dev-bs-worker:${{ github.sha }}
          
            

     

