name: Trigger auto deployment for dev-bos-worker

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ dev ]
    paths:
    - '**'
    - '.github/workflows/dev-bos-worker-AutoDeployTrigger-1539c19e-bad2-4f01-8f07-fef590866d5f.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.DEVBOSWORKER_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: devboscontregistry.azurecr.io
          registryUsername: ${{ secrets.DEVBOSWORKER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.DEVBOSWORKER_REGISTRY_PASSWORD }}
          containerAppName: dev-bos-worker
          resourceGroup: DevOps
          imageToBuild: devboscontregistry.azurecr.io/dev-bos-worker:${{ github.sha }}
          
            

     

